<h2>About UGIS</h2>
<p>The Urban and Geographic Information Systems Group offers interested members a place to learn, refine, and build their technical skills through interdisciplinary activities involving GIS, data analysis, programming, web design &amp; development, and informatics.</p>

<h2>Our activities</h2>
<ul>
  <li>Workshops</li>
  <li>Tutorials</li>
  <li>Software Demonstrations</li>
  <li>Contests</li>
  <li>Spatial Joins</li>
  <li>Speakers</li>
  <li>Professional Networking</li>
</ul>

<p><a href="http://ugisgroup.us11.list-manage.com/subscribe?u=b545083455f1f1aea21e712e7&id=04c3aeeed1">Sign up</a> for our email list.</p>
<p>View our <a href="http://us11.campaign-archive2.com/home/?u=b545083455f1f1aea21e712e7&id=04c3aeeed1">previous campaigns.</a></p>
<p>Our next event will be 4/20/16 in 314 Main Library. <a href="http://us11.campaign-archive1.com/?u=b545083455f1f1aea21e712e7&id=e632e95932">United States Shaped Pizza</a></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/ugisgroup">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:ugisgroupuiuc@gmail.com">Contact</a>
  </li>
</ul>
